<!-- Navbar -->
<header class="main-header">
  <!-- Logo -->
  <a href="/admin" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <img src="/static/img/logo.png" class="img-circle" alt="logo.png">
    </span>

    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <img src="/static/img/logo.png" class="img-circle" alt="logo.png">
      <b>Onib</b>CMS
    </span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{ auth.credentials.avatar }}" class="user-image" alt="{{ auth.credentials.username }}">
            <span class="hidden-xs">{{ auth.credentials.name }}</span>
          </a>

          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header color-black">
              <img src="{{ auth.credentials.avatar }}" class="img-circle" alt="{{ auth.credentials.username }}">
              <p>
                {{ auth.credentials.name }}
                <small>Member since {{ auth.credentials.createdAt | dateFormat('MMM, YYYY') }}</small>
              </p>
            </li>

            <!-- Menu Body -->
            <li class="user-footer">
              <div class="pull-right">
                <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>