{% extends "layout/admin/index.html" %}

{% block breadcrumb %}
  <section class="content-header">
    <h1>Receipt</h1>
    <ol class="breadcrumb">
      <li>
        <a href="/admin">
          <i class="fa fa-dashboard"></i>
          CMS
        </a>
      </li>
      <li><a href="/admin/receipts">Receipt</a></li>
      <li class="active">Edit</li>
    </ol>
  </section>
{% endblock %}

{% block content %}
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3>Features are currently under development</h3>
    </div><!-- /.box-header -->
  </div><!-- ./box -->
{% endblock %}
